.App {
  text-align: center;
  letter-spacing: -0.8px;
}


.me-auto {
  margin-left: 90%;
}

.HomeDiv {
  display: flex;
}

.redColor {
  color: red;
  transition: 0.3s color;
}

.blackColor {
  color: black;
  transition: 0.3s color;

}

.rise {
  color: green;
}

.fall {
  color: red;
}

.coinName:hover,
.coinPrice:hover,
.prevPrice:hover,
.prevalue:hover,
.kimp:hover,
.prepercent:hover {
  cursor: pointer;
}

.green {
  color: green;
}

.red {
  color: red;
}

.binance {
  font-size: 13px;
  color: gray;
}

.logo {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.nav-bank {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  background-color: gray;
  text-align: center;
}

.footer-content{
  font-size: 18px;
  color:black;
}

.footer-address{
  display:flex;
  flex-direction: row;
  justify-content: center;

}

.github{
  color:red;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px){
  .coinName{
    font-size: 10px;
  }
  .coinPrice{
    font-size: 10px;
  }
  .kimp{
    font-size: 10px;
  }
  .prevPrice{
    font-size: 10px
  }

  .prevalue{
    font-size: 10px
  }

  .prepercent{
    font-size: 10px;
  }

  .logo{
    width: 15px;
    height: auto;
  }
  .font-10px{
    font-size: 10px;
  }

  .binance{
    font-size: 10px;
  }

  .display-none{
    display: none;
  }

  .me-auto{
    margin-left: 80%;
  }
}

<th>
  <span className="prepercent">변화율</span>
</th>
